node_modules/
pnpm-lock.yaml
dist/
build/
*.node
*.exp
*.iobj
*.ipdb
*.ilk
obj/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
test.ts
.npmrc
.env
.env.local
.DS_Store
Thumbs.db
*.log
npm-debug.log*
pnpm-debug.log*
benchmark.mjs
test.js
test.mjs
inline.exe